@model IEnumerable<UserModel>

@{
    ViewData["Title"] = "GetUsersAsync field";
}

<h4>Available users</h4>

<table class="table">
    <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>Age </th>
            <th>Town</th>
            @*cjplftv тело таблицы, чтобы вывести все данные юзеров*@           
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@user.Age</td>
                <td>@user.Town</td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("To primary page", "Index")
<br/>
@Html.ActionLink("To combined users/address page", "GetUsersPerCity")