@model List<UserAddressViewModel>;

	<table class="table">
		<thead>
			<tr>
				<th>FirstName</th>
				<th>LastName</th>
				<th>Email</th>
				<th>Sex</th>
				<th>Country</th>
				<th>City</th>
				<th>StreetName</th>
				<th>StreetAddress</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var userAddress in @Model){
				<tr>
					<td>@userAddress.FirstName</td>
					<td>@userAddress.LastName</td>
					<td>@userAddress.Email</td>
					<td>@userAddress.Sex</td>
					<td>@userAddress.Country</td>
					<td>@userAddress.City</td>
					<td>@userAddress.StreetName</td>
					<td>@userAddress.StreetAddress</td>
					<td>
						@Html.ActionLink("Delete User", "Delete", "UsersAddresses", new { id = @userAddress.Id }, null)
					</td>
				</tr>
			}
		</tbody>
	</table>