@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "UserPage";
}

<h1>Users</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>UserId</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>BirthDate</th>
            <th>AddressId</th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>@(count++)</td>
                <td>@item.UserId</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>@item.BirthDate</td>
                <td>@item.AddressId</td>
            </tr>
        }
    </tbody>
</table>
<br>

@{
    await Html.RenderPartialAsync("UserActions");
}