@model List<CustomerViewModel>

@{
    if (ViewData["Info"] != null)
    {

        <p>@ViewData["Info"]</p>

    }
    <table class="table">
        <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Sex</th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Customer in Model)
            {
                            <tr>
                                <td>@Customer.FirstName</td>
                                <td>@Customer.LastName</td>
                                <td>@Customer.Sex</td>
                                <td>@Customer.Email</td>
                                <td><a href='@Url.RouteUrl(new { controller = "Home", action = "DeleteCustomer", CustomerId = Customer.CustomerId})'>Delete this customer</a></td>
                            </tr>
            }

                    </tbody>
    </table>
}