@model List<ProductViewModel>

@{
    if (ViewData["Info"] != null)
    {
        foreach (var item in ViewBag["Info"])
        {
            <p>@item</p>    
        }   
    }

    <table class="table">
            <thead>
                <tr> 
                    <th>Name</th>
                    <th>Type</th>
                    <th>Cost</th>
                    <th>Purchasing date</th>
                    <th>Customer Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var Purchase in Model)
                 {
            <tr>
                <td>@Purchase.Name</td>
                <td>@Purchase.Type</td>
                <td>@Purchase.Cost $</td>
                <td>@Purchase.PurchasingDate</td>
                <td>@Purchase.CustomerEmail</td>
                <td><a href='@Url.RouteUrl(new { controller = "Home", action = "_deleteProduct", ProductId = Purchase.ProductId})'>Delete this product</a></td>
            </tr>
                 }
            </tbody>
    </table>
}